# Dependency directories
node_modules/
dist/

# dotenv environment variable files
.env.dev
.env.prod
.env

# apk build bat files
public/GhostSpy/main_build.bat
public/GhostSpy/main_build.sh
public/GhostSpy/major_build.bat
public/GhostSpy/major_build.sh

public/downloads
public/uploads
public/keylogs

public/GhostSpy/GhostSpy_main/app/src/main/res/values/strings.xml
public/GhostSpy/GhostSpy_major/app/src/main/res/values/strings.xml

public/GhostSpy/GhostSpy_main/app/src/main/res/mipmap-hdpi
public/GhostSpy/GhostSpy_main/app/src/main/res/mipmap-mdpi
public/GhostSpy/GhostSpy_main/app/src/main/res/mipmap-xhdpi
public/GhostSpy/GhostSpy_main/app/src/main/res/mipmap-xxhdpi
public/GhostSpy/GhostSpy_main/app/src/main/res/mipmap-xxxhdpi

public/GhostSpy/GhostSpy_major/app/src/main/res/mipmap-hdpi
public/GhostSpy/GhostSpy_major/app/src/main/res/mipmap-mdpi
public/GhostSpy/GhostSpy_major/app/src/main/res/mipmap-xhdpi
public/GhostSpy/GhostSpy_major/app/src/main/res/mipmap-xxhdpi
public/GhostSpy/GhostSpy_major/app/src/main/res/mipmap-xxxhdpi

